<header>
        <nav class="red darken-4">
            <div class="nav-wrapper">
              <img src="images/k-logo.svg" class="logo"alt="Logo" width="100" height="130">
                <ul class="right hide-on-med-and-down" id="nav-mobile">
                    <li><a href="/">Home</a></li>
                    {{!-- <li><a href="/ongoing" class="">Current Projects</a></li> --}}
                    <li><a href="/about" class="">About</a></li>
                    <li><a href="/portfolio" class="">Portfolio</a></li>
                    <li><a href="/contact" class="">Contacts</a></li>
                    
                </ul>
            </div>
        </nav>
    </header>