{{!-- {{> header}} --}}
<main>

    <div class="container">
        <div class="row">
            <div class="col l6 pull-l1">
                <img src="images/new-idea.svg" alt="FAQ" height="700" width="430">
            </div>
            <div class="col l6">
                <h3 class="header gradient-text center">About Us</h3>
                   <div class="col l12">
                        <p class="left-align">
                            <b>KIHARA ELECTRICALS</b> started operations in the year 1998, offering top class electrical installation services and consultancy. The company was incorporated to a Limited Liability company in 2009. Our headquarter office is in Ruiru town <i><span class="red-text">Devkesh Plaza</span></i>. Our subsidiary offices are in <i><span class="red-text">Nairobi R. Towers</span></i>.
                        </p>
                        <p class="left-align">
                            We have established a strong reputation for a diverse range of electrical services on commercial, Government Agencies, residential and supply of electrical materials. Our reputation for getting the job completed on time, within budget and to clients' total satisfaction has made us experience rapid growth within a short perios of time. We have vast experience in working closely with Engineering Consultants, Architects, and Main Contractors and we believe that the success of every project is anchored in the experience of our qualified employees and communication channels, which exist between the design, construction and client representatives. 
                        </p>
                    </div>
            </div>
        </div>
        <div class="row">
            <div class="video-container">
                <iframe width="798" height="449" src="https://www.youtube.com/embed/kJc-andoYaI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div class="section">
            <div class="row">
                <div class="col l12">
                    <h3 class="gradient-text center">Policy Statement</h3>
                </div>
             </div>
             <div class="row">
                  <div class="col l6">
                        <div class="card-panel white hoverable">
                             <h5 class="gradient-text center">Mission</h5>
                                 <p class="">To become the leading Electrical Engineering service provider in East Africa</p>
                        </div>
                  </div>
                <div class="col l6">
                    <div class="card-panel white hoverable">
                        <h5 class="gradient-text center">Vision</h5>
                        <p class="">To provide Quality, Reliable and Efficient engineering solutions to our clients.</p>
                    </div>
                </div>
             </div>
        </div>
        
        <div class="section">
             <div class="row">
                 <div class="col l6">
                      <h3 class="gradient-text center">Core Values</h3>
                      <div class="row">
                         <div class="col l8 offset-l3">
                           <ul>
                                <li><i class="material-icons tiny red-text text-darken-4">flash_on</i>Quality</li>
                                <li><i class="material-icons tiny red-text text-darken-4 ">flash_on</i>Customer Focus</li>
                                <li><i class="material-icons tiny red-text text-darken-4">flash_on</i>Safety</li>
                                <li><i class="material-icons tiny red-text text-darken-4">flash_on</i>Environmental Sustainability</li>
                                <li><i class="material-icons tiny red-text text-darken-4">flash_on</i>Reliability & Efficiency</li>
                                <li><i class="material-icons tiny red-text text-darken-4">flash_on</i>Capacity Building & Youth Empowerment</li>
                            </ul>
                          </div>

                     </div>
                  
                    
                 </div>
                    <div class="col l6">
                        <img src="images/values.svg" alt="" height="400" width="430">
                    </div>
          
           
         </div>

        </div>

       
        <div class="row">
            <div class="col l12">
                <h3 class="gradient-text center" id="team">Our Team</h3>
            </div>
            <div class="col l12">
                <div class="row">
                    <div class="col l4">
                        <div class="card small hoverable">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img src="images/William_Kihara.jpg" alt="" class="member">
                            </div>
                            <div class="card-content">
                                <span class="card-title black-text ">William Mwaura Kihara</span>
                                <div class="row">
                                    <div class="col l5 offset-l5">
                                        <i class="material-icons activator">expand_more</i>
                                    </div>
                                </div>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title gradient-text ">Qualifications</span>
                                <ul>
                                    <li><i class="material-icons tiny red-text text-darken-4">flash_on</i>Higher Diploma in Electrical/Electronics Engineering</li>
                                    <li><i class="material-icons tiny red-text text-darken-4">flash_on</i>Diploma in Technical Education</li>
                                    <li><i class="material-icons tiny red-text text-darken-4">flash_on</i>Licenced Electrician Class <b>A-I 1001976</b></li>
                                    <li><i class="material-icons tiny red-text text-darken-4">flash_on</i>Licenced PV Technician T2<b></b></li>
                                </ul>
                                <p><span class="red-text text-darken-4"><b>Position:</b></span> Techical Director & Project Manager</p>
                                <div class="row">
                                    <div class="col l3 offset-l5">
                                        <i class="material-icons activator">expand_less</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col l4">
                        <div class="card small hoverable">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img src="images/Simon_Githinji.jpg" alt="" class="member">
                            </div>
                            <div class="card-content">
                               <span class="card-title black-text">Simon Githinji Njeri</span>
                               <div class="row">
                                    <div class="col l5 offset-l5">
                                        <i class="material-icons activator">expand_more</i>
                                    </div>
                                </div>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title gradient-text">Qualifications</span>
                                <ul>
                                    <li><i class="material-icons tiny red-text text-darken-4">flash_on</i>BSc. Electrical & Electronics Technology</li>  
                                </ul>
                               <p>  <span class="red-text text-darken-4"><b>Position:</b></span>Project Engineer</p>
                                <div class="row">
                                    <div class="col l3 offset-l5">
                                        <i class="material-icons activator">expand_less</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col l4">
                        <div class="card small hoverable">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img src="images/Ann_Wangari.jpg" alt="" class="member">
                            </div>
                            <div class="card-content">
                                <span class="card-title black-text">Ann Wangari Kamiti</span>
                                <div class="row">
                                    <div class="col l5 offset-l5">
                                        <i class="material-icons activator">expand_more</i>
                                    </div>
                                </div>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title gradient-text ">Qualifications</span>
                                <ul>
                                    <li><i class="material-icons tiny red-text text-darken-4">flash_on</i>Masters in Business Administration</li>
                                </ul>
                                <p><span class="red-text text-darken-4"><b>Position:</b></span> Marketing Assistant</p>
                                <div class="row">
                                    <div class="col l3 offset-l5">
                                        <i class="material-icons activator">expand_less</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col l12">
                <div class="row">
                    <div class="col l4">
                        <div class="card small hoverable">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img src="images/Scola_Wanjiku.jpeg" alt="" class="member">
                            </div>
                            <div class="card-content">
                                <span class="card-title black-text">Scola Wanjiku Muhia</span>
                                <div class="row">
                                    <div class="col l5 offset-l5">
                                        <i class="material-icons activator">expand_more</i>
                                    </div>
                                </div>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title gradient-text text-darken-4">Qualifications</span>
                                <ul>
                                    <li><i class="material-icons tiny red-text text-darken-4">flash_on</i>Diploma in Human Resource Management</li>
                                </ul>
                                <p><span class="red-text text-darken-4"><b>Position:</b></span> Administrative Assistant</p>
                                <div class="row">
                                    <div class="col l3 offset-l5">
                                        <i class="material-icons activator">expand_less</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                <div class="col l4">
                        <div class="card small hoverable">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img src="images/Gaithuma.jpg" alt="" class="member">
                            </div>
                            <div class="card-content">
                                <span class="card-title black-text">Peter Gaithuma Kihara</span>
                                <div class="row">
                                    <div class="col l5 offset-l5">
                                        <i class="material-icons activator">expand_more</i>
                                    </div>
                                </div>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title gradient-text text-darken-4">Qualifications</span>
                                <ul>
                                    <li><i class="material-icons tiny red-text text-darken-4">flash_on</i>Craft Certificate in Electrical & Electronics</li>
                                    <li><i class="material-icons tiny red-text text-darken-4">flash_on</i>Diploma in Electrical Engineering</li>
                                </ul>
                                <p><span class="red-text text-darken-4"><b>Position:</b></span> Technical Trainee</p>
                                <div class="row">
                                    <div class="col l3 offset-l5">
                                        <i class="material-icons activator">expand_less</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col l4">
                        <div class="card small hoverable">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img src="images/Josphat_Kamiti.jpg" alt="" class="member">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator black-text">Josphat Gathoga Kamiti</span>
                                <div class="row">
                                    <div class="col l5 offset-l5">
                                        <i class="material-icons activator">expand_more</i>
                                    </div>
                                </div>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title gradient-text text-darken-4">Qualifications</span>
                                <ul>
                                    <li><i class="material-icons tiny red-text text-darken-4">flash_on</i>Certificate of Training</li>
                                </ul>
                                <p><span class="red-text text-darken-4"><b>Position:</b></span> Over-head line Technician</p>
                                <div class="row">
                                    <div class="col l3 offset-l5">
                                        <i class="material-icons activator">expand_less</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>   
            
            <div class="col l12">
                <div class="row">
                    
                    <div class="col l4">
                        <div class="card small hoverable">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img src="images/Peter_Kihara.jpg" alt="" class="member">
                            </div>
                            <div class="card-content">
                                <span class="card-title black-text">Peter Kihara Gathoga</span>
                                <div class="row">
                                    <div class="col l5 offset-l5">
                                        <i class="material-icons activator">expand_more</i>
                                    </div>
                                </div>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title gradient-text text-darken-4">Qualifications</span>
                                <ul>
                                    <li><i class="material-icons tiny red-text text-darken-4">flash_on</i>Certificate of Training</li>
                                </ul>
                                <p><span class="red-text text-darken-4"><b>Position:</b></span> Over-head line Technician</p>
                                <div class="row">
                                    <div class="col l3 offset-l5">
                                        <i class="material-icons activator">expand_less</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col l4">
                        <div class="card small hoverable">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img src="images/Elijah_Kinyanjui.jpg" alt="" class="member">
                            </div>
                            <div class="card-content">
                                <span class="card-title black-text">Elijah Kinyanjui Githinji</span>
                                <div class="row">
                                    <div class="col l5 offset-l5">
                                        <i class="material-icons activator">expand_more</i>
                                    </div>
                                </div>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title gradient-text text-darken-4 ">Qualifications </span>
                                <ul>
                                    <li><i class="material-icons tiny red-text text-darken-4">flash_on</i>Certificate in Electrical Wiremen
                                    </li>
                                </ul>
                                <p><span class="red-text text-darken-4"><b>Position:</b></span> Electrical Wireman/Artisan</p>
                                <div class="row">
                                    <div class="col l3 offset-l5">
                                        <i class="material-icons activator">expand_less</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
            </div> 
            
        </div>
        <div class="row">
            <div class="col l12">
                <h3 class="gradient-text center">Organizational Chart</h3>
            </div>
        </div>
        <div class="row">
            <div class="col l12">
                <img src="images/org-chart.svg" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col l12">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque officia commodi fugiat, nihil est ipsa quasi praesentium pariatur illo ipsam. Possimus illum explicabo vero odio animi nulla tenetur nam porro?</p>
            </div>
        </div>
    </div>
 </main>

  {{!-- {{>footer}}  --}}