<div class="section">
  <h3 class="gradient-text center">Completed Projects</h3>
</div>

<div class="section">
  <div class="slider">
    <div class="slides">
        <li>
          <img src="images/dp_office.png" alt="Office of the Vice President">
          <div class="caption center-align">
            <h4>Office of the Deputy President</h4>
          </div>
        </li>

        <li>
          <img src="images/mara_leisure_camp.jpg" alt="Mara Leisure Lodge">
          <div class="caption right-align">
            <h4>Mara Leisure Lodge</h4>
          </div>
        </li>

        <li>
          <img src="images/rainbow_ruiru.jpg" alt="Rainbow Resort Ruiru">
          <div class="caption left-align">
            <h4>Rainbow Resort Ruiru</h4>
          </div>
        </li>

        <li>
          <img src="images/precious_blood_juja.jpeg" alt="Precious Blood Juja">
          <div class="caption center-align">
            <h4>Precious Blood Juja</h4>
          </div>
        </li>

        <li>
          <img src="images/alliance_classroom.jpg" alt="Alliance Classroom">
          <div class="caption right-align">
            <h4>Alliance High Classroom block</h4>
          </div>
        </li>

        <li>
          <img src="images/nairobi_primary_school.jpg" alt="Office of the Vice President">
          <div class="caption left-align"> 
            <h4>Nairobi Primary School</h4>
          </div>
        </li>

        <li>
          <img src="images/st_monica_kitengela.jpg" alt="St Monica Kitengela">
          <div class="caption center-align">
            <h4>St Monica Catholic Kitengela</h4>
          </div>
        </li>

        <li>
          <img src="images/mucatha.jpeg" alt="Youth empowerment centre Mucatha">
          <div class="caption center-align">
            <h4>Youth empowerment centre Mucatha</h4>
          </div>
        </li>
    </div>
  </div>
</div>


 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus commodi repudiandae earum sint ea, iste consequatur aliquid natus, accusantium repellat libero, voluptatem fugit nam quae! Ut aperiam non modi optio? Quam quia fugit quo quos sint esse explicabo. Cum deserunt explicabo expedita quo obcaecati sed eum laborum harum at, odit provident, vero numquam quaerat unde! Odio ex at asperiores repellendus eius consectetur cumque blanditiis architecto error velit accusantium quasi totam atque dignissimos nisi, veritatis non alias rerum esse animi? Architecto, in perspiciatis quos labore nemo unde velit maxime, aliquam numquam quas, quaerat consequuntur ut earum natus voluptatem voluptatum harum voluptate.</p>