<div class="section">
    <h3 class="gradient-text center">Ongoing Projects</h3>
</div>

<div class="section">
    <div class="slider">
        <div class="slides">
            <li>
                <img src="images/alliance_chapel.jpg" alt="Alliance">
                <div class="caption center-align">
                    <h4 class="">Alliance Girls' Chapel</h4>
                </div>
            </li>

            <li>
                <img src="images/alliance_classroom.jpg" alt="Alliance">
                <div class="caption right-align">
                    <h4>Alliance Classroom</h4>
                </div>
            </li>

            <li>
                <img src="images/kalamba_fruit_processing.jpg" alt="Alliance">
                <div class="caption left-align">
                    <h4>Kalamba fruit processing plant</h4>
                </div>
            </li>

            <li>
                <img src="images/kplc_power_lines.jpg" alt="Alliance">
                <div class="caption center-align">
                    <h4>KPLC line construction</h4>
                </div>
            </li>

            <li>
                <img src="images/chapel.jpg" alt="Alliance">
                <div class="caption center-align">
                    <h4>Alliance Girls' Chapel</h4>
                </div>
            </li>
        </div>
    </div>
</div> 

<div class="section">
  <h3 class="gradient-text center">Completed Projects</h3>
</div>

<div class="section">
  <div class="slider">
    <div class="slides">
        <li>
          <img src="images/dp_office.png" alt="Office of the Vice President">
          <div class="caption center-align">
            <h4>Office of the Deputy President</h4>
          </div>
        </li>

        <li>
          <img src="images/mara_leisure_camp.jpg" alt="Mara Leisure Lodge">
          <div class="caption right-align">
            <h4>Mara Leisure Lodge</h4>
          </div>
        </li>

        <li>
          <img src="images/rainbow_ruiru.jpg" alt="Rainbow Resort Ruiru">
          <div class="caption left-align">
            <h4>Rainbow Resort Ruiru</h4>
          </div>
        </li>

        <li>
          <img src="images/precious_blood_juja.jpeg" alt="Precious Blood Juja">
          <div class="caption center-align">
            <h4>Precious Blood Juja</h4>
          </div>
        </li>

        <li>
          <img src="images/alliance_classroom.jpg" alt="Alliance Classroom">
          <div class="caption right-align">
            <h4>Alliance High Classroom block</h4>
          </div>
        </li>

        <li>
          <img src="images/nairobi_primary_school.jpg" alt="Office of the Vice President">
          <div class="caption left-align"> 
            <h4>Nairobi Primary School</h4>
          </div>
        </li>

        <li>
          <img src="images/st_monica_kitengela.jpg" alt="St Monica Kitengela">
          <div class="caption center-align">
            <h4>St Monica Catholic Kitengela</h4>
          </div>
        </li>

        <li>
          <img src="images/mucatha.jpeg" alt="Youth empowerment centre Mucatha">
          <div class="caption center-align">
            <h4>Youth empowerment centre Mucatha</h4>
          </div>
        </li>
    </div>
  </div>
</div>


